@font-face {
  font-family: "IBM Plex Mono"; 
  src: url(assets/ibm-plex-mono.woff), url(assets/ibm-plex-mono.woff); 
}

@font-face {
  font-family: "Young Serif"; 
  src: url(assets/youngserif.woff2), url(assets/youngserif.woff); 
}


body {
  font-family: "IBM Plex Mono";
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #2a2a2a; 
}



nav {
  /* because we always want it to be there no matter where scrolled on the page */
  position: fixed; 
  top: 0;
  left: 0; 
  width: 240px;
  height: 100vh; 
  background-color: #00b98d; 
  color: #fff; 
  font-family: "Young Serif";
  font-size: 24px; 
  /* makes the links go down the page */
  display: flex; 
  flex-direction: column;
  /* places links in the center of the page */
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none; 
  margin: 5px 32px 5px 32px; 

}

main {
  position: relative;
  z-index: 1; 
  background-color: white; 
  /* covers the navigation */
  min-height: 100vh; 



}



